@import 'config';

* {
    box-sizing: border-box;
}

body, html {
    font-family: $font-stack-formal;
    background-color: $background;
    color: $foreground;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#content {
    margin: auto;
    margin-bottom: 32px;
    flex-grow: 1;
    max-width: 1200px;
    width: 90vw;
}

a:not(.no-a) {
    text-decoration: none;
    color: #337ab7;
    margin: 0;
    padding: 0;

    &:hover {
        color: #23527c;
        text-decoration: underline;
    }
}

li {
    margin-bottom: 1em;
}

#cookie-popup {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 8px 32px;
    background-color: #111;
    color: #fff;
    z-index: 100;
    border-top: 4px solid $accent-2;
    font-size: 1.2em;

    >.cookie-int {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 1200px;
        width: 90vw;
        align-items: center;

        >p {
            flex-grow: 1;
            margin-right: 32px;
        }

        >button {
            flex-shrink: 0;
        }
    }
}

.no-a {
    text-decoration: none;
}

button {
    background-color: lighten($theme-col, 5%);
    border-radius: $rounding;
    border: 1px solid lighten($theme-col, 10%);
    display: block;
    cursor: pointer;
    color: $foreground;
    font-family: $font-stack-formal;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 1s;

    &:hover {
        background-color: $theme-col;
    }
    &:active {
        background-color: darken($theme-col, 5%);
        position: relative;
        top: 1px;
    }

    &.btn-less {
        background: transparent;
    }
}

pre {
    font-family: $font-stack-mono;

    font-size: 1rem;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    padding: 1em 2em;
    border-radius: $rounding;
    white-space: pre-wrap;
    color: #ddd;
}

header {
    width: 100%;
    background-color: darken($background, 10%);
    padding: 32px 0;
    font-size: 2em;
    position: relative;
    z-index: 50;

    ::after {
        display: block;
        content: "";
        height: 2px;
        background: linear-gradient(90deg, darken($background, 10%), $accent-1, darken($background, 10%));
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
    }

    >.head-int {
        max-width: 1200px;
        width: 90vw;
        margin: auto;
        display: flex;

        #brand {
            font-weight: 700;
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }
}

textarea, input {
    display: block;
    width: 100%;
    background-color: lighten($background, 2%);
    border: 1px solid lighten($background, 5%);
    color: $foreground;
    font-family: $font-stack-formal;
    margin: 8px 0;
    padding: .5em .7em;
    font-size: 1em;
}

footer {
    width: 100%;
    background-color: #111;
    padding: 20px;
    color: #fff;
    font-size: .8em;
    position: relative;

    ::before {
        display: block;
        content: "";
        height: 2px;
        background: linear-gradient(90deg, darken($background, 10%), $accent-2, darken($background, 10%));
        position: absolute;
        top: -2px;
        width: 100%;
        left: 0;
    }

    >.foot-int {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        >.foot-col {
            flex-shrink: 0;
            flex-grow: 1;
            min-width: 150px;

            >* {
                margin: 5px 10px;
            }

            >.foot-col-head {
                font-weight: 700;
            }

            &.col-right {
                text-align: right;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}

.sect {
    position: relative;

    margin-top: 75px;
    margin-bottom: 100px;

    >.sect-in {
        z-index: 25;
        position: relative;
        padding: 10px 0;
    }

    &.sect2 {
        margin-bottom: 75px;
        margin-top: 100px;
        >.sect-in {
            padding-top: 0px;
            padding-bottom: 20px;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 300vw;
        height: 120%;
        left: -100vw;
        top: 50%;
        background-color: lighten($background, 5%);
        transform: rotate(-1deg) translateY(-50%);
        z-index: 20;
    }

    &.sect2::before {
        transform: rotate(1deg) translateY(-50%);
    }
}

.top-swish {
    height: 300px;
    width: 120%;
    margin-left: -10%;
    margin-top: -50px;
    background-color: darken($background, 5%);

    transform: rotate(2deg);
    position: relative;
    flex-shrink: 0;

    >.top-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(-2deg) translate(-50%, -50%);

        font-size: 4em;
        max-width: 1200px;
        width: 90vw;

        >p {
            font-size: .3em;
            margin-top: -.1em;
        }
    }
}

ul.ul-columns {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    >li {
        margin-right: 2em;

        >.ulc-head {
            font-weight: 700;
            border-bottom: 2px solid $foreground;
            font-size: 1.2em;
            margin-bottom: 8px;
            width: 200px;
        }

        >ul {
            padding-left: 8px;
            list-style: none;

            >li {
                margin-bottom: .2em;
            }
        }
    }
}

.ticket-page {
    .ticket {
        margin-top: 1em;
        font-size: 3em;

        >.ticket-num {
            opacity: .8;
        }
    }

    .messages {
        .msg {
            border: 1px solid lighten($background, 5%);
            background: darken($background, 2%);
            padding: .7em 1.2em;

            .m-auth {
                font-weight: 700;
                margin-bottom: .2em;
            }

            margin-bottom: 1em;
        }
    }

    .t-closed {
        margin: 1em;
        padding: 1em;
        border-top: 1px solid lighten($background, 15%);
        font-style: italic;
    }
    .t-head {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid lighten($background, 15%);
        font-size: 1.2em;
    }
}

.btn-row {
    button {
        display: inline-block;
        margin-right: 1em;
        font-size: 1em;
    }
}

.title {
    font-size: 3em;
    margin-top: 1em;
}

.title-sub {
    font-size: 1.5em;
}

.ticket-list {
    margin-top: 1em;

    .ticket {
        border: 1px solid lighten($background, 5%);
        background: darken($background, 2%);
        padding: .7em 1.2em;
        color: $foreground;
        margin-bottom: 5px;
    }
}

@media (max-width: 700px) {
    .top-swish>.top-inner {
        font-size: 3em;
    }
}
