{% extends "formal/formal_base.html" %}

{% block title %}Support - {% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Hi, {{ user.display_name }}!</div>
    <div class="title-sub">How can we help?</div>

    <a href="/">Back</a><br><br>

    <div class="btn-row">
        <a href="/support/tickets/"><button>
            My Tickets
        </button></a>
        <a href="/support/tickets/new"><button>
            Create New Ticket
        </button></a>
    </div>
</div>

{% endblock %}
