{% extends "formal/formal_base.html" %}

{% block title %}Support - {% endblock %}

{% block content %}
    <div class="centre_div" id="content">
        <div class="title">Create a ticket</div>
        <div class="title-sub">Here you can create a support ticket. We aim to respond to all tickets within 12 hours.</div>
        <a href="/support/tickets/">Back</a>

        <form action="#" method="post">
            <input id="title" name="title" type="text" placeholder="Ticket Title">
            <textarea rows="5" id="body" name="body" placeholder="Describe your issue"></textarea>
        </form>

        <div id="create_result"></div>

        <button id="submit">Create Ticket</button>
    </div>
{% endblock %}

{% block scripts %}
    {% include "partials/csrf.html" %}
    <script>
        $(function () {
            $("#submit").click(function() {
                $.post("/support/tickets/new", {
                    title: $("#title").val(),
                    body: $("#body").val(),
                    auth: "{{ user.auth_token }}"
                }, function(data, status) {
                    if (data.r)
                        location.href = data.r;
                    else {
                        if (data.s) {
                            $("#create_result").text(data.m)
                        } else {
                            $("#create_result").text(data.m)
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
