{% extends "formal/formal_base.html" %}

{% block title %}Support - {% endblock %}

{% block content %}
    <div class="ticket-page" id="content">
        <div class="ticket">{{ ticket.ticket_title }} <span class="ticket-num">#{{ ticket.ticket_id }}</span></div>
        {% if admin %}
        <a href="/support/admin/">Back</a><br><br>
        {% else %}
        <a href="/support/tickets/">Back</a><br><br>
        {% endif %}

        <div class="messages">
        {% for message in ticket.messages %}
            <div class="msg">
                <div class="m-auth">{{ message.author_name }}{% if message.author_id|string == ticket.user_id|string %} (OP){% endif %}</div>
                <div class="m-cont">{{ message.message_content }}</div>
            </div>
        {% endfor %}
        </div>

        {% if ticket.ticket_status == "Open" %}
            <div class="t-head">Update ticket:</div>

            <form action="#" method="post">
                <textarea rows="5" id="body" name="body" placeholder="Message"></textarea>
            </form>

            <div id="update_result"></div>
            <div class="btn-row">
                <button id="update">Add Message</button>
                <button id="close" class="btn-less">Close Ticket</button>
            </div>
        {% else %}
            <div class="t-closed">Ticket closed. Further modification not permitted.</div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% include "partials/csrf.html" %}
    <script>
        // TODO: Websockets
        $(function() {
            $("#update").click(function() {
                $.post("/support/tickets/{{ ticket.ticket_id }}", {
                    body: $("#body").val(),
                    auth: "{{ user.auth_token }}"
                }, function(data, status) {
                    if (data.s)
                        location.reload();
                    else
                        $("#update_result").text(data.m);
                })
            })

            $("#close").click(function() {
                $.post("/support/tickets/{{ ticket.ticket_id }}/close", {
                    auth: "{{ user.auth_token }}"
                }, function(data, status) {
                    if (data.s)
                        location.reload();
                    else
                        $("#update_result").text(data.m);
                })
            })
        });
    </script>
{% endblock %}