{% extends "formal/formal_base.html" %}

{% block title %}{% endblock %}

{% block all_content %}
    <div class="top-swish">
        <div class="top-inner">
            <div>Welcome to the Really Awesome CTF</div>
        </div>
    </div>

    <div id="content">
        <h1>What's this?</h1>
        <p>
            Really Awesome CTF is an online security Capture-the-Flag event running from the 29th
            of June. With over 40 different challenges split over 6 categories with difficulty
            levels for all, it's the perfect place to practice your skills or get started as all
            our challenges are original and new! <a href="/contributors">Find out who made it
            possible!</a>
        </p>

        <a class="no-a" href="/login"><button class="button">Log In with Discord</button></a>

        <div class="sect">
            <div class="sect-in">
                <h1>Site security</h1>
                <p>All pages that are part of the site will have a little</p>
                <pre>
&lt;!-- THIS PAGE IS NOT PART OF THE CTF --&gt;
&lt;!-- Don't try and break into this page unless a
     challenge has explicitly told you to do so! --&gt;</pre>
                <p>at the start of them to indicate that they are site pages.</p>
                <p>
                    Unless told to do so explicitly, you <b>should not</b> attempt to attack any
                    pages with this, as they are not part of the challenge!
                </p>
            </div>
        </div>

        <h1>Getting started</h1>

        <p>To get started, login using the button below.</p>
        <p>
            Before starting the CTF, we recommend you read the <a href="/conduct">code of conduct
            </a> and join the <a href="https://discord.gg/FfW2xXR">Discord server</a> if you need
            any help with the challenges. Give the <a href="/contributors">contributions page</a>
            a check too if you fancy.
        </p>

        <a class="no-a" href="/login"><button class="button">Log In with Discord</button></a>

        <div class="sect sect2">
            <div class="sect-in">
                <h1>More Details</h1>
                <p>The categories in this year's RACTF are:
                    <ul>
                        <li>Cryptography</li>
                        <li>Linux</li>
                        <li>Miscellaneous</li>
                        <li>Reverse Engineering</li>
                        <li>Steganography</li>
                        <li>Web</li>
                    </ul>
                </p>
                <p>You may complete the challenges in any order</p>
                <p>
                    If you require support, please <a href="/support/tickets/new">open a support ticket</a>. Do not open
                    a ticket asking for help with a challenge, this will get you banned. Information about who made
                    which challenge can be found
                    <a href="/contributors#chaldev">here</a>.
                </p>
                <p>First-scorers of a challenge will be granted medals on the leaderboard. These do not affect points.</p>
            </div>
        </div>
    </div>
{% endblock %}
