<html>{% block warning %}
<!-- THIS PAGE IS NOT PART OF THE CTF -->
<!-- Don't try and break into this page unless a
     challenge has explicitly told you to do so! -->{% endblock %}
<head>
  {% assets "scss_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="#222034" name="theme-color"/>
  <meta name="mobile-web-app-capable" content="yes">

  <title>{% block title %}{% endblock %} - Really Awesome CTF</title>
  {% block head %}{% endblock %}
</head>

<body id="particles-js">
  <div id="site-msg"></div>

  <div id="load-body">
    {% block content %}{% endblock %}
    {% block donate %}
      {% include "partials/donation.html" %}
    {% endblock %}
  </div>

  <div id="score_alerts"></div>
  <div id="music">
    <audio id="bgm" controls></audio>
    <audio id="sfx" controls></audio>
  </div>
  <div id="progress"></div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <div id="scripts">{% block scripts %}{% endblock %}</div>
  {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% include "partials/csrf.html" %}
  <script type="text/javascript">
    if (getCookie("vfx") !== "no")
      particlesJS.load('particles-js', '/static/particlesjs-config.json');
  </script>
</body>
</html>
