<div id="dp-wrap">
    <div id="dp-dark"></div>
    <div id="donate_popup">
        <div class="dp-title">What will this get me?</div>

        <div class="perk premium">
            <img class="dp-image" src="/img/donor_small.png">
            <div class="dp-text">Donator badge on leaderboard!</div>
        </div>
        <div class="perk premium">
            <img class="dp-image" src="/img/discord.png">
            <div class="dp-text">Donator role in Discord!</div>
        </div>
        <div class="perk">
            <img class="dp-image" src="/img/server.png">
            <div class="dp-text">Stops the server randomly shutting down!</div>
        </div>
        <div class="perk">
            <img class="dp-image" src="/img/donation_alert.png">
            <div class="dp-text">Optional donate alert telling everyone on the site how much you donated!</div>
        </div>
        <div class="perk">
            <img class="dp-image" src="/img/heart.png">
            <div class="dp-text">Personal message from <span class="bax">Bax</span> thanking you</div>
        </div>
        <div class="dp-bot">
            To get the Discord role, Site-Wide alert and the Donator Badge on the leaderboard, there is a minimum
            donation of &pound;1. All other perks come with any donation amount.
        </div>

        <form id="dp-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="D5V7YLX5LRD8N" />
            {% if discord_user_id %}
            <input id= "discord_user_id" type="hidden" name="custom" value="{{ discord_user_id }}" />
            {% endif %}
            <!-- Yucky tracking pixels, ew-->
            <!--<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />-->
            <!--<img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />-->
        </form>
        <br/>
        <input type="checkbox" id="anonymous-donation">Make my donation anonymous</a><br/><i>If you make your donation anonymous, you won't recieve perks.</i>
        <a id="do-donate">Click here to Donate</a>
    </div>
</div>
<div id="donate-b" class="open-dp">Donate</div>