.lba-item {
    margin: auto;
    padding: 8px 16px;
    max-width: 100vw;
    width: 600px;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    margin-top: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 300ms ease;
    text-align: left;

    &:hover {
        background-color: darken($theme-col, 5%);
    }
}

.lba-title {
    word-break: break-word;

    &:hover {
        color: #f00;
        text-decoration: line-through;
    }
}

.lba-title-banned {
    text-decoration: line-through;
    color: #f00;

    &:hover {
        text-decoration: none;
        color: $foreground;
    }
}

.lba-points {
    font-size: .7em;
    color: #bbb;
}

.lba-c {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: rgba(darken($theme-col, 15%), 0.4);

    &:hover {
        background-color: rgba(darken($theme-col, 15%), 0.7);
    }
}
.lba-c:hover .lbac-title {
    text-decoration: line-through;
}

.lbac-m {
    display: flex;
}

.lbac-title {
    font-size: .8em;
    flex-grow: 1;
    word-break: break;
}

.lbac-f {
    font-size: .7em;
    color: #33bb33;
}
