.chal-desc, #hintresult {
    margin-top: 2em;
    font-size: 1rem;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    padding: 1em 2em;
    border-radius: $rounding;
    white-space: pre-wrap;
}

#hintresult {
    margin: 1rem 2rem 0;
    font-size: .8rem;
    display: none;
}

.chal-worth {
    margin-top: .5em;
    font-size: 1rem;
}

.chal-meta {
    margin-top: 8px;
    font-size: .8em;
    margin-bottom: 2em;
}

.chal-prompt {
    font-size: .8rem;
    margin-top: 2em;
    margin-bottom: .5em;
    color: #ddd;
}

#flagbox {
    margin-bottom: 8px;
}
#resulttext, #resulttext2 {
    margin-top: .2rem;
    font-size: 1rem;
}
#flagresult, #nameresult {
    margin-bottom: 1.2rem;
    opacity: 0;
    font-size: 1rem;
}

#alreadysolved {
    margin: 1.2rem 0;
    font-size: 1rem;
}

#chal-conf, #adm-conf {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    display: none;
    opacity: 0;
}

#chal-conf .button, , #adm-conf .button {
    display: inline-block;
}

.conf-meta {
    font-size: 1em;
    color: #e11;
    font-weight: 800;
}

#flagbox {
    min-width: 80%;
}
