.lb-item {
    margin: auto;
    padding: 8px 16px;
    max-width: 100vw;
    width: 600px;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    margin-top: 8px;
    font-size: 1.2rem;
    display: flex;
    cursor: pointer;
    transition: background-color 300ms ease;
    color: $foreground;
}

.lb-item:hover {
    background-color: darken($theme-col, 5%);
}

.lbi-title {
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
}

.lbi-title-banned {
    text-decoration: line-through;
    color: #f00;
}

.lbi-points {
    flex-shrink: 0;
    font-size: .7em;
    color: #bbb;
    margin-top: auto;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lbi-points-b {
    justify-content: center;
    display: flex;
    line-height: 24px;
}

.lbi-points-b img:not(.beta) {
    margin: 0 -8px;
}
.lbi-points-b img.donor {
    margin-right: 0px;
}

#lb-plot {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    height: 300px;
    box-shadow: 0 0 1px darken($background, 5%);
    background-color: darken($background, 3.5%);
    position: relative;
    overflow: hidden;

    &::before{
        content: "Loading chart...";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
    }
}
