{% extends "partials/base.html" %}

{% block title %}Category{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">{{ category_name }}</div>
    <div class="title-sub">Here are the challenges for {{ category_name }}</div>

    {% for challenge in challenges %}
        {% if not challenge.ishidden or challenge in user.solved_challenges %}
            <a href="/category/{{ category }}/{{challenge.challenge}}">
                <div class="level-chal{% if challenge in solved_challenges %} completed{% endif %}">
                    <div class="level-diff">
                        {% if challenge.points < 300 %}Easy{% elif challenge.points < 600 %}Medium{% elif challenge.points < 900 %}Hard{% elif challenge.points < 1100 %}Extreme{% else %}Impossible{% endif %}
                    </div>
                    {{ challenge.title }}
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <div class="hr"></div>
    <a href="/hub">
        <button class="button">Back</button>
    </a>
</div>
{% include "partials/bottom.html" %}
{% endblock %}
