{% extends "partials/base.html" %}

{% block title %}Challenge{% endblock %}

{% block content %}
<div id="chal-conf">
    <div class="title">Use hint?</div>
    <div class="subtitle">Are you sure you want to use a hint?</div>
    <div class="conf-meta">This is irrevocable and will halve your points for this challenge.</div>

    <div>
        <button id="u-hint" class="button">Use a hint</button>
        <button id="c-hint" class="button btn-less">Cancel</button>
    </div>
</div>

<div class="centre_div" id="content">
    <div class="title">{{ category_name }} Challenge {{ challenge }}</div>
    <div class="subtitle" id="ctitle">{{ title }}</div>
    <div class="chal-worth">{{ points }} points</div>
    <div class="chal-meta" id="cmeta">{{solves}} {%if solves != 1%}people have{%else%}person has{%endif%} solved this challenge.{% if first != none %}<br>First solved by {{first}}{% endif %}</div>
    <div class="chal-desc">{{ description|safe }}</div>
    <div id="hintresult"{% if hint|length != 0 %}style="display: block"{% endif %}>{% if hint %}Hint: {{ hint }}{% endif %}</div>

    {% if chal_solved %}
    <div id="alreadysolved">You have already solved this challenge</div>
    {% if hint|length == 0 %}
    <button class="button" id="hintbtn">View hint</button>
    {% endif %}{% else %}
    <div class="chal-prompt">Enter flag:</div>
    <input type="text" id="flagbox" placeholder="Flag format: {{ flag_format }}"></input><br>

    <div id="flagresult">.</div>
    <button class="button" id="doflag">Attempt flag</button>

    {% if hint|length == 0 %}
    <button class="button" id="hintbtn">Get hint</button>
    {% endif %}{% endif %}
    <div class="hr"></div>
    <a href="/category/{{ category }}">
        <button class="button">Back</button>
    </a>
</div>
{% include "partials/bottom.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function ajaxOnDocumentLoad() {
        $("#hintbtn").click(function() {
            {% if chal_solved %}
                $("#u-hint").click();
            {% else %}
                $("#chal-conf").css("display", "flex").animate({opacity: 1}, 300);
            {% endif %}
        });

        function hideConfirm() {
            $("#chal-conf").animate({opacity: 0}, 200, function() {$(this).hide()});
        }

        $("#c-hint").click(hideConfirm)
        $("#u-hint").click(function() {
            hideConfirm();
            $.post("/api/hint", {
                    category: "{{ category }}",
                    challenge: {{ challenge }}
                },
                function (data, status) {
                    if (data.s) {
                        $("#hintresult").text('Hint: ' + data.m).fadeIn();
                    }
                });
            $("#hintbtn").hide();
        });

        $("#flagbox").keypress(function (e) {
            if (e.which == 13) {
                doFlag();
            }
        });

        function doFlag() {
            var flagdata = $("#flagbox").val();
            if (!flagdata.length) return;
            expectingAudio = true;
            $.post("/api/attemptFlag", {
                    category: "{{ category }}",
                    challenge: {{ challenge }},
                    flag: flagdata
                },
                function (data, status) {
                    $("#flagresult").text(data.m).animate({opacity: 1}, 200)
                                    .delay(2000).animate({opacity: 0}, 500);

                    if (data.s) {
                        // 20% chance of donation prompt
                        if (Math.random() < 0.2)
                            donationPopup();

                        $("#bgm").animate({volume: 0.05}, 300);
                        if (!data.f)
                            setTimeout(function() {$("#sfx").attr("src", "/static/audio/victorytheme.mp3")[0].play();}, 300);
                        else setTimeout(function() {$("#sfx").attr("src", "/static/audio/firstblood.mp3")[0].play();}, 300);
                        startConfetti();
                    }{% if not chal_solved %} else {
                        $("#bgm").animate({volume: 0.02}, 300);
                        var rand = randint(1, 200)
                        if (rand === 1)
                            setTimeout(function() {$("#sfx").attr("src", "/static/audio/failure_2.mp3")[0].play();}, 300);
                        else if (rand === 2) {
                            $("#bgm").animate({volume: 0}, 100);
                            setTimeout(function() {$("#sfx").attr("src", "/static/audio/try_harder.mp3")[0].play();}, 400)
                        }
                        else setTimeout(function() {$("#sfx").attr("src", "/static/audio/failure.ogg")[0].play();}, 300);
                    }{% endif %}
                    setTimeout(function() {expectingAudio = false;}, 1000);
                }
            );
        }

        $("#doflag").click(doFlag);

        {% if chal_solved %}startConfetti();{% endif %}
    }
</script>
{% endblock %}
