{% extends "partials/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="centre_div" id="content">
        <div class="title">An error occurred.</div>

        <div class="hr"></div>
        <div class="subtitle">{{ msg }}</div>
        <div class="hr"></div>

        <a href="/">
            <button class="button">Back to safety</button>
        </a>
    </div>
{% endblock %}

{% block donate %}{% endblock %}
