{% extends "partials/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <div class="centre_div" id="content">
      <div class="title">Welcome to the Really Awesome CTF</div>

      <a href="/login"><button class="button">Log In with Discord</button></a>

      <div class="index-lnk">
        <a class="privacy" href="/privacy">Privacy Policy</a
        > | <a class="privacy" href="/conduct">Code of Conduct</a>
      </div>
  </div>
  <div id="bottom" class="bottom_div">
      <a class="annoyingcookies">We use cookies to ensure user security. By using this site, you agree to our use of cookies.</a> <button class="button-small annoyingcookies" onclick="removeCookieMessage()">I understand, go away</button>
  </div>
{% endblock %}

{% block donate %}{% endblock %}

{% block scripts %}
  <script>
    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function removeCookieMessage() {
      setCookie("removestupidcookiething", "yes", 180)
      $("#bottom").remove();
    }

    if(getCookie("removestupidcookiething") == "yes") {
      removeCookieMessage()
    }
  </script>
{% endblock %}
