{% extends "partials/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">{{ target.display_name }}'s Profile</div>

    <div id="profile-container">
        <div class="p-left">
            <div class="p-img"><img src="/api/avatar/{{ target.discord_avatar }}"></div>
            <div class="p-nimg">
                <div class="p-meta{% if target.isbanned %} lbi-title-banned{% endif %}">@{{ target.display_name }}#{{ target.discord_discrim }}</div>
                <div class="p-meta">{{ target.points() }} points</div>
                {% if target.isbanned %}<div class="p-meta redtext">User is banned</div>{% endif %}
                <div class="lbi-points-b">
                    {% for i in range(target.first_bloods) %}
                        <img src='/static/img/firstsolve.png'>
                    {% endfor %}
                </div>
                <a href="/leaderboard">
                    <button class="button">Back</button>
                </a>
            </div>
        </div>
        <div class="p-right">
            {% if target.isbeta %}
            <div class="pr-item pr-bt"><div class="pr-icon"></div>Beta tester</div>
            {% endif %}{% if target.isdonor %}
            <div class="pr-item pr-do"><div class="pr-icon"></div>Donor</div>
            {% endif %}{% if is_admin %}
            <div class="pr-item pr-ad"><div class="pr-icon"></div>Admin</div>
            {% endif %}

            {% if target.solved_challenges|length == 0 %}
            No challenges completed.
            {% endif %}
            {% for chal in target.solved_challenges %}
                <div class="pr-chal">
                    <div class="prc-title">{{ chal.title }}</div>
                    <div class="prc-points">{{ chal.points }} points</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "partials/bottom.html" %}
{% endblock %}
